@page
@model Gestion_Scolarite.Pages.Etudiants.IndexModel

@{
    ViewData["Title"] = "Etudiants";
}

<h2>@Model.Niveau.Code: @Model.Niveau.Designation</h2>
<h3>Etudiants</h3>

<p>
    <a asp-page="Create" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Etudiant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-page="/Nivaux/Index" asp-route-idFiliere="@Model.IdFil">Back to Nivaux</a>
</p>
