@page
@model Gestion_Scolarite.Pages.Filieres.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Filiere</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filiere.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filiere.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filiere.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filiere.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filiere.Responsable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filiere.Responsable.Nom) @Html.DisplayFor(model => model.Filiere.Responsable.Prenom)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Filiere.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
