@page
@model Gestion_Scolarite.Pages.Seances.IndexModel

@{
    ViewData["Title"] = "Seances";
}

<h2>@Model.Matiere.Code: @Model.Matiere.Designation</h2>
<h3>Seances</h3>

<p>
    <a asp-page="Create" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-idModule="@Model.IdMod" asp-route-idMatiere="@Model.IdMat">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
            <th>
                Durée
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Seance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Seance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heures) h :  @Html.DisplayFor(modelItem => item.Minutes) min
            </td>
            <td>
                <a asp-page="./Edit" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-idModule="@Model.IdMod" asp-route-idMatiere="@Model.IdMat" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-idModule="@Model.IdMod" asp-route-idMatiere="@Model.IdMat" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-idModule="@Model.IdMod" asp-route-idMatiere="@Model.IdMat" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-page="/Matieres/Index" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-idModule="@Model.IdMod">Back to Matieres</a>
</div>