@page
@model Gestion_Scolarite.Pages.Modules.IndexModel

@{
    ViewData["Title"] = "Modules";
}

<h2>@Model.Niveau.Code: @Model.Niveau.Designation</h2>
<h3>Modules</h3>

<p>
    <a asp-page="Create" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Module[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module[0].Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module[0].Semestre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module[0].Responsable)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Module) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsable.Nom) @Html.DisplayFor(modelItem => item.Responsable.Prenom)
            </td>
            <td>
                <a asp-page="/Matieres/Index" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-idModule="@item.ID">Matieres</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-idFiliere="@Model.IdFil" asp-route-idNiveau="@Model.IdNiv" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-page="/Nivaux/Index" asp-route-idFiliere="@Model.IdFil">Back to Nivaux</a>
</p>