@page
@model Gestion_Scolarite.Pages.Departements.IndexModel

@{
    ViewData["Title"] = "Departements";
}

<h2>Departements</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departement[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departement[0].Designation)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Departement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                <a asp-page="/Enseignants/Index" asp-route-idDepartement="@item.ID">Enseignants</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
